@using MVCCRUD.HtmlHelpMeth
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        
        <img src="~/Content/img/皮卡丘.jpg" />
    </div>
    <div>
        @Html.Image("~/Content/img/皮卡丘.jpg","皮卡丘")
    </div>
</body>
</html>
